run = "npm run dev"
modules = ["web", "nodejs-18"]

[env]
VITE_PORT = "5173"
VITE_PUBLIC_URL = "https://sheltr-v1.replit.app"

[nix]
channel = "stable-24_05"

[deployment]
run = ["sh", "-c", "cd dist && npx serve -s -l 80"]
deploymentTarget = "cloudrun"
ignorePorts = false
build = ["sh", "-c", "npm run build"]

[packager]
language = "nodejs"
[packager.features]
packageSearch = true
guessImports = true
enabledForHosting = true

[languages.typescript]
pattern = "**/{*.ts,*.tsx}"
[languages.typescript.languageServer]
start = ["typescript-language-server", "--stdio"]

[static]
directory = "public"
serve = "/public"

[[ports]]
localPort = 80
externalPort = 3000

[[ports]]
localPort = 5173
externalPort = 80
