run = "npm install && npm run dev"
entrypoint = "src/App.tsx"
modules = ["nodejs-18:v18-20230807-322e88b"]

[env]
VITE_SUPABASE_URL = "$VITE_SUPABASE_URL"
VITE_SUPABASE_ANON_KEY = "$VITE_SUPABASE_ANON_KEY"
NODE_ENV = "development"

[nix]
channel = "stable-22_11"

[languages]
typescript = "nodejs-18"

[languages.typescript]
pattern = "**/{*.ts,*.js,*.tsx,*.jsx}"
syntax = "typescript"

[languages.typescript.languageServer]
start = ["typescript-language-server", "--stdio"]

[packager]
language = "nodejs"

[packager.features]
packageSearch = true
guessImports = true
  